body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.player img{
    display:inline-block
}

.player{
    background-color: #aaa;
}

.card{
    position:relative;
    display: inline-block;
}

.card .dmg{
    position: absolute;
    bottom: 20px;
    right:5px;
    background-image: url(dmg.png);
    text-align: center;
    width: 40px;
    height: 40px;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dmg p{
    margin: 0px, 0px, 0px, 0px !important;
    height: 30px;
    padding-top: 5px;
}
.active{
    text-align: center;
    background-color: lightcoral;
}
.center{
    height: 100px;
    text-align: center;
}

.center h{
    width: 80%;
    text-align: center;
}

